html, body{height:100%}


@media (max-width: 600px) {
    #indexwrapper{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 0px !important;}
}



body{background:url('../images/grass.jpg') no-repeat center center fixed;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;background-size:cover}
#indexwrapper{background-color:rgba(245,245,245,.95);margin-bottom:-9999px;padding-bottom:9999px;padding-top:20px;padding-left:30px;padding-right:30px}


.container{min-height:100%;overflow:hidden}
a:link{color:black}
a:visited{color:black}
a:hover{color:black}
a:active{color:black}
.post{width:250px;min-height:340px;margin-bottom:20px;margin-left:0px;margin-right:15px;float:left;border:2px solid black;background-color:white;border-radius:5px}
.post h3{margin:5px;font-size:100%;text-align:center}
.post h4{margin:0px;font-size:85%;text-align:center}
.post img{margin:0px;padding:2px;margin-bottom:10px;width:100%;height:245px}

 